*{
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px black;
}

.header .list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-right: 50px;
}

.header a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
.header a span{
    color: red;
}
.header .list a{
    margin-left: 20px;
}
.header button{
    background-color: paleturquoise;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container .card-content{
    margin: 10px;
}

.container .card-content .heading{
    font-size: 20px;
}

.container .card-content .address{
    font-size: 15px;
    font-weight: 300;
}

.container .card-content .rating{
    background-color: rgb(87, 203, 87);
    padding: 5px;
}

.container .card-content .time{
    margin: 0px 10px;
}

.restaurants{
    margin-left: 20px;
}

.card{
    width: 250px;
    border: 1px solid rgb(228, 214, 214);
    margin: 10px;
    margin: 10px 20px;
}

.card-img{
    width: 250px;
}

.shimmer{
    width: 250px;
    height: 300px;
    border: 2px solid black;
    background-color: gray;
    margin: 10px;
}
.shimmer-card{
    padding: 10px;
}
.search-restaurant{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
}
.search h2{
    margin-right: 10px;
}
.search div{
    margin-right: 3rem;
}
.search input{
    padding: 5px;
    margin: 20px;
}

.search button{
    padding: 10px;
    background-color: aquamarine;
    border-radius: 7px;
    cursor: pointer;
}

.menu-item{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 5px;
}
.menu-item .name{
    padding: 10px;
}
.menu-item .btn{
    padding: 10px;
    background-color: aquamarine;

}
.menu-item img{
    height: 100px;
    margin: 20px;
}
.restaurant-detail{
    display: flex;
}
.restaurant-detail img{
    height: 200px;
    margin: 20px;
}

.restaurant-detail .details{
    display: flex;
    flex-direction: column;
}